<div class='show-product'>
  <h1><%= @product.title %></h1>
  <h3> $<%= @product.price %></h3>
  <p><%= @product.description %></p>
  <p><%= @product.created_at.strftime("Listed on %m/%d/%Y at %I:%M%p") %></p>
  <p><%= @product.created_at.strftime("Last modified on %m/%d/%Y at %I:%M:%p") %></p>
  <form>
  </form>
  <%= button_to "Add To Cart", action: "create", controller: "carts" %>
</div>
