
<h1>Stuff In Your Cart</h1>

<table>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Price ($)</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @cart_contents.each do |product| %>
    <tr>
      <td><%= product.id %></td>
      <td><%= product.title %></td>
      <td>$<%= product.price %></td>
      <td><%= link_to 'Show', product %></td>
      <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?',
                                     :method => :delete %></td>
    </tr>

  <%end%>



</table>
